<%
    var pageTitle = { pageTitle:"新增管理员信息" }
%>
<!-- art-template分布模板（模板片段化） -->
{{include "../layout_header.html" pageTitle}}
<div class=" container">
    <div class=" page-header">
        <h2 class=" text-center text-primary ">新增管理员信息</h2>
    </div>
    <!-- enctype全称是EncodeType，指定将数据回发到服务器时浏览器使用的编码类型,默认值是application/x-www-form-urlencoded -->
    <form class=" form-horizontal" action="/AdminInfo/doAddAdminInfo" method="POST"
        enctype="application/x-www-form-urlencoded" id="addAdminInfo">
        <div class=" form-group">
            <label class=" control-label col-sm-2">管理员账号</label>
            <div class=" col-sm-7">
                <input type="text" class=" form-control" placeholder="请输入管理员账号" data-rule-required="true" id="adminid"
                    name="adminid">
            </div>
            <div class=" col-sm-3"></div>
        </div>
        <div class=" form-group">
            <label class=" control-label col-sm-2">管理员密码</label>
            <div class=" col-sm-7">
                <input type="text" class=" form-control" placeholder="请输入管理员密码" data-rule-required="true" id="adminpwd"
                    name="adminpwd">
            </div>
            <div class=" col-sm-3"></div>
        </div>
        <div class=" form-group">
            <label class=" control-label col-sm-2">确认密码</label>
            <div class=" col-sm-7">
                <input type="password" class=" form-control" placeholder="请确认密码" data-rule-required="true"
                    data-rule-equalTo="#adminpwd" name="confirmPwd">
            </div>
            <div class=" col-sm-3"></div>
        </div>
        <div class=" form-group">
            <label class=" control-label col-sm-2">管理员姓名</label>
            <div class=" col-sm-7">
                <input type="text" class=" form-control" data-rule-required="true" placeholder="请输入管理员姓名" id="realName"
                    name="realName">
            </div>
            <div class=" col-sm-3"></div>
        </div>
        <div class=" form-group">
            <div class=" col-sm-7 col-sm-offset-2">
                <button type="submit" class=" btn btn-primary" id="btnSave">
                    <span class=" glyphicon glyphicon-floppy-save"></span> 保存数据
                </button>
                <a href="/AdminInfo/List" type="button" class=" btn btn-danger">
                    <span class=" glyphicon glyphicon-arrow-left"></span> 返回列表
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {

        // 表单验证
        $("#addAdminInfo").validate({
            errorPlacement: function (error, element) {
                error.appendTo(element.parent().next());
            },
            errorClass: "text-danger"
        });

        // 触发失焦事件，检测管理员帐号是否重复
        $("#adminid").blur(function () {
            var adminid = $(this).val();
            if (adminid) {
                // adminid有值，将这个值发送到后台，后台在数据库检测是否已经存在
                // ajax无刷新请求发送到服务器，返回值在data里面
                $.get("/AdminInfo/checkAdminid?adminid=" + adminid, function (data) {
                    if (data == true) {
                        // 存在当前帐号，清空输入框并弹框提示
                        $("#adminid").val("");
                        alert("当前帐号已存在");
                    }
                });
            }
        });

    });
</script>
{{include "../layout_footer.html"}}