<%
    var pageTitle = { pageTitle:"编辑院系信息" }
%>
<!-- art-template分布模板（模板片段化） -->
{{include "../layout_header.html" pageTitle}}
<div class=" container">
    <div class=" page-header">
        <h2 class=" text-center text-primary ">编辑院系信息</h2>
    </div>
    <!-- enctype全称是EncodeType，指定将数据回发到服务器时浏览器使用的编码类型,默认值是application/x-www-form-urlencoded -->
    <form class=" form-horizontal" action="/DepartmentInfo/doEditDepartmentInfo" method="POST" enctype="application/x-www-form-urlencoded">
        <!-- 编辑成功后重定向到当前页面 -->
        <input type="hidden" value="{{callBackUrl}}" name="callBackUrl">
        <div class=" form-group">
            <label class=" control-label col-sm-3">院系名称</label>
            <div class=" col-sm-7">
                <input type="text" class=" form-control" placeholder="请输入院系名称" value="{{departmentInfo.dname}}"
                    name="dname">
            </div>
        </div>
        <div class=" form-group">
            <label class=" control-label col-sm-3">院长姓名</label>
            <div class=" col-sm-7">
                <input type="text" class=" form-control" placeholder="请输入院长姓名" value="{{departmentInfo.manager}}"
                    name="manager">
            </div>
        </div>
        <div class=" form-group">
            <label class=" control-label col-sm-3">院长电话</label>
            <div class=" col-sm-7">
                <input type="text" class=" form-control" placeholder="请输入院长电话" value="{{departmentInfo.manager_tel}}"
                    name="manager_tel">
            </div>
        </div>
        <div class=" form-group">
            <div class=" col-sm-7 col-sm-offset-3">
                <button type="submit" class=" btn btn-primary" id="btnSave">
                    <span class=" glyphicon glyphicon-floppy-save"></span> 保存数据
                </button>
                <a href="{{callBackUrl||'/DepartmentInfo/List'}}" class=" btn btn-danger">
                    <span class=" glyphicon glyphicon-arrow-left"></span> 返回列表
                </a>
            </div>
        </div>
    </form>
</div>
{{include "../layout_footer.html"}}