<%
    var pageTitle = { pageTitle:"新增班级信息" }
%>
<!-- art-template分布模板（模板片段化） -->
{{include "../layout_header.html" pageTitle}}
<div class=" container">
    <div class=" page-header">
        <h2 class=" text-center text-primary ">新增班级信息</h2>
    </div>
    <!-- enctype全称是EncodeType，指定将数据回发到服务器时浏览器使用的编码类型,默认值是application/x-www-form-urlencoded -->
    <form class=" form-horizontal" action="/ClassInfo/doAddClassInfo" method="POST"
        enctype="application/x-www-form-urlencoded" id="addClassInfo">
        <div class=" form-group">
            <label class=" control-label col-sm-2">班级名称</label>
            <div class=" col-sm-7">
                <input type="text" class=" form-control" placeholder="请输入班级名称" data-rule-required="true" id="cname"
                    name="cname">
            </div>
            <div class=" col-sm-3"></div>
        </div>
        <div class=" form-group">
            <label class=" control-label col-sm-2">所属院系</label>
            <div class=" col-sm-7">
                <select class="form-control" name="did">
                    {{each departmentInfoList item index}}
                    <option value="{{item.did}}">{{item.dname}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class=" form-group">
            <label class=" control-label col-sm-2">所属辅导员</label>
            <div class=" col-sm-7">
                <select class="form-control" name="instructorid">
                    {{each instructorList item index}}
                    <option value="{{item.instructorid}}">{{item.instructorname}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class=" form-group">
            <label class=" control-label col-sm-2">最大人数</label>
            <div class=" col-sm-7">
                <input type="text" class=" form-control" placeholder="请输入最大人数" data-rule-required="true" id="maxCount"
                    name="maxCount">
            </div>
            <div class=" col-sm-3"></div>
        </div>
        <div class=" form-group">
            <div class=" col-sm-7 col-sm-offset-2">
                <button type="submit" class=" btn btn-primary" id="btnSave">
                    <span class=" glyphicon glyphicon-floppy-save"></span> 保存数据
                </button>
                <a href="/ClassInfo/List" type="button" class=" btn btn-danger">
                    <span class=" glyphicon glyphicon-arrow-left"></span> 返回列表
                </a>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {

        // 表单验证
        $("#addClassInfo").validate({
            errorPlacement: function (error, element) {
                error.appendTo(element.parent().next());
            },
            errorClass: "text-danger"
        });

        // 触发失焦事件，检测班级是否重复
        $("#cname").blur(function () {
            var cname = $(this).val();
            if (cname) {
                // cname有值，将这个值发送到后台，后台在数据库检测是否已经存在
                // ajax无刷新请求发送到服务器，返回值在data里面
                $.get("/ClassInfo/checkCname?cname=" + cname, function (data) {
                    if (data == true) {
                        // 存在当前班级，清空输入框并弹框提示
                        $("#cname").val("");
                        alert("当前班级已存在");
                    }
                });
            }
        });

    });
</script>
{{include "../layout_footer.html"}}